<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="Generator" content="บริษัท กสท โทรคมนาคม จำกัด (มหาชน) ">
    <meta name="Author" content="บริษัท กสท โทรคมนาคม จำกัด (มหาชน) ">
    <meta name="Keywords" content="บริษัท กสท โทรคมนาคม จำกัด (มหาชน) ">
    <meta name="Description" content="บริษัท กสท โทรคมนาคม จำกัด (มหาชน) ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ระบบสนับสนุนข้อมูลลูกค้าอินเทอร์เน็ตบรอดแบนด์</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")


    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.918/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.918/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/kendo/2013.2.918/kendo.metroblack.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.918/kendo.dataviz.metro.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2013.2.918/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.2.918/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">
                    <img class="logo" src="~/Content/assets/logo.gif" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mainnav" style="">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">เครื่องมือ <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("AssignKPI", "index", "AssignKPI")</li>
                            <li>@Html.ActionLink("Import Data", "index", "ImportData")</li>
                            <li>@Html.ActionLink("Approve Data", "index", "ApproveData")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">รายงาน <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Information Data", "index", "InfoData")</li>
                            <li>@Html.ActionLink("KPI Report", "index", "KPIReport")</li>
                            <li>@Html.ActionLink("Monitor KPI", "index", "MonitorKPI")</li>
                            <li>@Html.ActionLink("Report", "index", "Report")</li>
                            <li>@Html.ActionLink("Analysis Data", "index", "AnalysisData")</li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">จัดการระบบ <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("จัดการผู้ใช้งาน", "index", new { controller = "carmaker", area = "workspaces" })</li>
                            <li>@Html.ActionLink("จัดการสิทธิ์", "index", new { controller = "carmodel", area = "workspaces" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("เกี่ยวกับเรา", "index", "about")</li>
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ระบบสนับสนุนข้อมูลลูกค้าอินเทอร์เน็ตบรอดแบนด์ | บริษัท กสท โทรคมนาคม จำกัด มหาชน</p>
        </footer>
    </div>

    <script>

        $(document).on('click', '.k-overlay', function () {
            var kendoWindow = $('.k-window-content.k-content', $(this).next('div.k-widget.k-window'));
            if (kendoWindow == null || kendoWindow.length == 0) {
                return;
            }
            kendoWindow.data('kendoWindow').close();
        });

    </script>




    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
