@using Kendo.Mvc.UI
@using System.Globalization;
@{
    ViewBag.Title = "Home>";
}


<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div id="gauge-container" align="center">
                    <h4>จำนวนลูกค้าปัจจุบันเดือน สิงหาคม 2559</h4>
                    @(Html.Kendo().RadialGauge()
                      .Name("gauge")

                      .Pointer(pointer => pointer.Value(@ViewBag.allClient))
                                      .HtmlAttributes(new { style = "max-width:320px;height:220px;" })
                      .Scale(scale => scale
                          .MinorUnit(5000)
                          .StartAngle(-60)
                          .EndAngle(240)
                          .Max(150000)
                          .Labels(labels => labels
                              .Position(GaugeRadialScaleLabelsPosition.Outside)
                          )
                          .Ranges(ranges =>
                          {
                              ranges.Add().From(0).To(50000).Color("#c20000");
                              ranges.Add().From(50000).To(100000).Color("#ffc700");
                              ranges.Add().From(100000).To(150000).Color("#00ff00");
                          })
                     )
                    )
                    <h4>จำนวนลูกค้า(ราย)</h4>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div style="padding-left:25px">
                        @(Html.Kendo().Chart()
                        .Name("chartmedia")
                        .Title(title => title
                                    .Text("แยกตามประเภทสาย")
                                    .Position(ChartTitlePosition.Top)
                                    .Visible(false)
                                    )
                        .Legend(legend => legend
                            .Visible(false)
                                )
                                .HtmlAttributes(new { style = "max-width:320px;height:320px;" })
                        .Series(series =>
                        {
                            series.Pie(new dynamic[] {
                                new {category="HINET",value=@ViewBag.hinet,color="#0094ff"},
                                new {category="HOTNET",value=@ViewBag.hotnet,color="	#ff9d36"},
                                new {category="ONNET",value=@ViewBag.onnet,color="#e6a2ff"}
                            })
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Position(ChartPieLabelsPosition.Center)
                            )
                            .StartAngle(150);
                        })
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                        )
                        )

                    </div>
               
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"></div>
        </div>
    </div>
    @{ 
        string chartTitle = string.Format("ข้อมูลลูกค้าแยกตามพื้นที่ทั้งหมด 7 เขต เดือน {0} {1}","สิงหาคม", DateTime.Now.ToString("yyyy", new CultureInfo("th-TH")));
    }
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    @(Html.Kendo().Chart()
        .Name("chart1")
        .Title(chartTitle)
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Line(ViewBag.northClient).Name("สข.(น)").Color("blue");
            series.Line(ViewBag.southClient).Name("สข.(ต)").Color("green");
            series.Line(ViewBag.eastClient).Name("สข.(อ)").Color("gray");
            series.Line(ViewBag.westClient).Name("สข.(ตต)").Color("black");
            series.Line(ViewBag.northEastClient).Name("สข.(อน)").Color("yellow");
            series.Line(ViewBag.centerClient).Name("สข.(ก)").Color("brown");
            series.Line(ViewBag.subClient).Name("สข.(ย)").Color("red");
            
        })
        .CategoryAxis(axis => axis
            .Categories("ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค.")
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric().Labels(labels => labels.Format("{0}"))
                                    .Line(line => line.Visible(false))
                                    .AxisCrossingValue(-10)
            .Max(20000)
            .MajorUnit(2500)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}")
        )
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <h4>ประสิทธิภาพงาน เดือนปัจจุบัน</h4>
            <div class="col-sm-5">
                <div class="chart-wrapper">

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตเหนือ สข.(น)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(100)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.northMonth).Color("red");
                            bands.Add().From(ViewBag.northMonth).To(100).Color("#D8D8D8");
                        })
                    )
                    .Data(ViewBag.TemperatureRange)
                            )
                        </div>
                    </div>

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตตะวันตก สข.(ตต)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range2")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(100)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.westMonth).Color("red");
                            bands.Add().From(ViewBag.westMonth).To(100).Color("#D8D8D8");
                        })
                    )
                            .Data(ViewBag.TargetRange)
                            )
                        </div>
                    </div>

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตใต้ สข.(ต)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range3")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(100)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.southMonth).Color("red");
                            bands.Add().From(ViewBag.southMonth).To(100).Color("#D8D8D8");
                        })
                    )
                    .Data(ViewBag.TemperatureRange)
                            )
                        </div>
                    </div>

                    <div class="temperature">
                        <span>
                            ฝ่ายพัฒนาธุรกิจการตลาดลูกค้ารายย่อย ยต.
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                            .Name("temp-range8")
                            .Type(SparklineType.Bullet)
                            .ValueAxis(axis => axis
                                .Numeric()
                                .Min(0)
                                .Max(100)
                                .PlotBands(bands =>
                                {
                                    bands.Add().From(0).To(ViewBag.subMonth).Color("red");
                                    bands.Add().From(ViewBag.subMonth).To(100).Color("#D8D8D8");
                                })
                            )
                            .Data(ViewBag.TemperatureRange)
                            )
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="chart-wrapper">

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตตะวันออกเฉียงเหนือ สข.(อน)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range4")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(100)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.northEastMonth).Color("#04B404");
                            bands.Add().From(ViewBag.northEastMonth).To(100).Color("#D8D8D8");
                        })
                    )
                            .Data(ViewBag.TargetRange)
                            )
                        </div>
                    </div>

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตกลาง สข.(ก)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range5")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(100)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.centerMonth).Color("red");
                            bands.Add().From(ViewBag.centerMonth).To(100).Color("#D8D8D8");
                        })
                    )
                    .Data(ViewBag.TemperatureRange)
                            )
                        </div>
                    </div>

                    <div class="temperature">
                        <span>
                            สำนักงานบริการลูกค้า กสท เขตตะวันออก สข.(อ)
                        </span>
                        <div class="stats">
                            @(Html.Kendo().Sparkline()
                    .Name("temp-range6")
                    .Type(SparklineType.Bullet)
                    .ValueAxis(axis => axis
                        .Numeric()
                        .Min(0)
                        .Max(50)
                        .PlotBands(bands =>
                        {
                            bands.Add().From(0).To(ViewBag.eastMonth).Color("yellow");
                            bands.Add().From(ViewBag.eastMonth).To(100).Color("#D8D8D8");
                        })
                    )
                            .Data(ViewBag.TargetRange)
                            )
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
